@media (max-width: 768px) {
  .line {
    flex-direction: column;
  }
  .block {
    flex: 0 1 auto;
  }
  .swap_2 {
    transform: translateY(102%);
    transition-duration: 1s;
  }
  .swap_1 {
    transform: translateY(-102%);
    transition-duration: 1s;
  }
}
